.container {
  height: 100%;
  padding: 0px 0px 0px 0px; }

.columns {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px; }

.column {
  padding-left: 0px;
  padding-right: 0px; }

html, body {
  height: 100%;
  margin: 0; }

a {
  color: #004ed0; }

a:hover {
  color: #6d6d6d;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }
